services:
  api:
    container_name: logistima_api
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "80:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: logistima
      DB_PASSWORD: logistima
      DB_NAME: logistima
      DB_DIALECT: postgres
      DB_LOGGING: "false"
      REDIS_URL: redis://redis:6379
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  worker:
    container_name: logistima_worker
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: npm run worker
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: logistima
      DB_PASSWORD: logistima
      DB_NAME: logistima
      DB_DIALECT: postgres
      DB_LOGGING: "false"
      REDIS_URL: redis://redis:6379
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  db:
    container_name: logistima_db
    image: postgres:15
    environment:
      POSTGRES_USER: logistima
      POSTGRES_PASSWORD: logistima
      POSTGRES_DB: logistima
    ports:
      - "54322:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    container_name: logistima_redis
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data: